<!DOCTYPE html>
<html lang="en">
<head>
	<title>LKB Photography gallery tool</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/CSGalleryMaker.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="lib/jquery-ui-1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="lib/packery.pkgd.min.js"></script>
	<script type="text/javascript" src="lib/imagesloaded.pkgd.js"></script>
	<script type="text/javascript" src="js/galleryMaker.js"></script>
</head>

<body>

	<div id="container">
		<h2>LKB Photography editor tool - showing gallery '<span id="galleryName"><%=gallery.name%></span>'</h2>

		<form id="layoutForm" action="updateLayout">
			<label for="columns">Columns: </label>
			<input type="radio" name="columns" value="3" class="colBtn" id="colBtn3" checked>3
			<input type="radio" name="columns" value="4" class="colBtn" id="colBtn4">4
			<input type="radio" name="columns" value="5" class="colBtn" id="colBtn5">5
		</form>

<!-- 		<form id="saveForm" action="/savegallery" method="POST"> -->
		<form id="saveForm" onsubmit="event.preventDefault();">
			<div>
				<label for="displayName">Gallery display name: </label>
				<input type="text" name="displayName" id="displayName">
			</div>
		</form>

		<button id="saveGalleryBtn">Save gallery</button>
		<button id="exitBtn">Exit without saving</button>
		<button id="toggleIconBtn">Hide icons</button>
		<button id="hideUnusedThumbs">Hide unused photos</button>
	</div>

	<div id="container">
		<ul id="thumbs">
			<div class="thumbSizer"></div>
			<div class="thumbGutter"></div>
 		</ul>
 		<ul id="unusedThumbs">
			<div class="thumbSizer"></div>
			<div class="thumbGutter"></div>
 		</ul>
	</div>

	<div id="popup" hidden>
		<div id="popupBox">
			<div>
				<h2 id="popupTitle"></h2>
				<p id="popupText"></p>
				<button id="popupContinueBtn">Continue editing</button>
				<button id="popupExitBtn">Exit</button>
			</div>
		</div>
	</div>

	<script type="text/javascript">

		$(() => {
			//	Load gallery object from server
			let encodedXML = "<%=gallery.xml%>";
			let $xml = $(unescapeHTML(encodedXML));
			var gallery = {
				name: "<%=gallery.name%>",
				parent: "<%=gallery.parent%>",
				displayName: $xml.find('gallery').attr('displayName'),
				cols: $xml.find('gallery').attr('columns'),
				photos: [],
				xml: unescapeHTML(encodedXML)
			}
			console.log(gallery);
			$('#displayName').val(gallery.displayName);
			$('.thumbSizer').addClass('col' + gallery.cols);
			if(gallery.cols === '4') {
				$('#colBtn4').prop('checked', true);
			} else {
				$('#colBtn3').prop('checked', true);
			}
			//	Iterate photos and add objects to gallery's photo array
			$xml.find('gallery photo').each((index, photo) => {
				let photoObj = {
					position: parseInt($(photo).attr('position')),
					displayed: $(photo).attr('displayed') === 'true' ? true : false,
					filename: $(photo).text()
				}
				gallery.photos.push(photoObj);
			});
			//	Sort photos by position
			gallery.photos.sort(comparePosition);
			//	Add photos to DOM
			gallery.photos.forEach(photo => {
				let path = '../' + photo.filename;
				let $element = $(
					'<li class="thumb col' + gallery.cols + '" data-position="' + photo.position + '" data-filename="' + photo.filename + '">' +
					'<img src="' + gallery.parent + '/' + gallery.name + '/' + photo.filename + '">' + 
					'<div class="positionLabel"><span></span></div>' +
					'<div class="toggleBtn removeBtn"></div>' +
					'</li>');
				if(photo.displayed) {
					$element.appendTo('#thumbs');
				} else {
					$element.addClass('removed');
					$element.appendTo('#unusedThumbs');
				}
				$element.find('img').on('error', (e) => {
					let $missingImgLi = $(e.target).parent();
					let label = '<p>Missing file: ' + $missingImgLi.find('img').attr('src') + '</p>';
					$missingImgLi.append(label);
					$missingImgLi.addClass('removed');
					$missingImgLi.appendTo('#unusedThumbs');
				});
			});
			console.log(gallery.photos);
			$('#thumbs').imagesLoaded(() => {
				loadGalleryMaker(gallery);
			});
		});

	</script>


</body>
</html>




