<h1>Contact</h1>
<p>Laura is a still life and nature photographer based in London.</p>
<br>
<p><em>“Chasing Shadows is inspired by my early photography when I first moved to London; shadows and reflections became my signature style. Today I am inspired to design and produce creative setups for still life and capture the finer details of the natural world around us”.</em></p>
<br>
<p><strong>For more information, commissions or quotes please contact: </strong></p>
<p><a href="mailto:laura@chasingshadowsphotography.com">laura@chasingshadowsphotography.com</a></p>
<p><strong>Tel: </strong>07736 765156</p>
<p><strong>Instagram: </strong><a href="https://www.instagram.com/chasing_shadows_london/">chasing_shadows_london</a></p>