<!DOCTYPE html>
<html>
<head>
	<title>LKB Photography</title>
	<script type="text/javascript" src="lib/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="lib/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="lib/packery.pkgd.min.js"></script>
	<script type="text/javascript" src="js/lkb.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Hind|Nunito" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/lkb.css">
</head>
<body>


<!-- Load gallery XML from server & make available to .js -->
<script type="text/javascript">
	var galleryXml = <%-galleryXml%>;
</script>
<!------------------------------------>

