	<nav>
		<a href="/"><h1>Laura Kate Bemrose<br>Photography</h1></a>
		<ul>
			<li><a href="/g?name=cuba">Portraits</a></li>
			<li><a href="/g?name=bob">Live Music</a></li>
			<li><a href="/g?name=cuba">Behind The Scenes</a></li>
			<li><a href="/g?name=bob">Theatre</a></li>
		</ul>
	</nav>

