<!DOCTYPE html>
<html>
<head>
	<title>LKB gallery</title>
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
</head>
<body>

	<h3>Gallery: <%= gallery %></h3>

	<button id="exitPreview">Exit</button>




	<script type="text/javascript">
		window.onbeforeunload = () => {
			stopServer();
		}

		function stopServer() {
			$.get('/exit', (res) => {
				console.log(res);
				window.close();
			});
		}

		$(() => {
			$('#exitPreview').click(() => {
				stopServer();
			});
		});

	</script>


</body>
</html>