body {
	padding: 0;
	margin: 0;
}

#container {
	width: 1200px;
	// background: pink;
	// height: 100vh;
}

form {
	padding-left: 20px;
	div {
		padding-bottom: 8px;
	}
	label {
		display: inline-block;
		width: 260px;
	}
	input {
		// width: 260px;
	}
	input[type='text'] {
		width: 260px;
	}
	textarea {
		width: 260px;
		height: 100px;
		resize: none;
	}
}

#thumbs {
	width: 100%;
	background: lightgrey;
	padding-left: 0;
}

.thumb {
	display: inline-block;
	user-select: none;
	box-sizing: border-box;
	margin: 0;
	// background: orange;
	float: left;
	font-size: 0;
	// height: auto;
	position: relative;
	&.col3 {
		width: 32%;
	}
	&.col4 {
		width: 23.5%;
	}
	img {
		width: 100%;
	}
	.positionLabel {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		background: white;
		span {
			color: black;
			font-size: 14px;
			position: absolute;
			top: 7px;
			left: 4px;
			white-space: nowrap;
		}
	}
	.toggleBtn {
		width: 30px;
		height: 30px;
		position: absolute;
		bottom: 10px;
		right: 10px;
		background-image: url('../img/Cross_red.svg');
		background-size: cover;
	}
	&.removed {
		filter: sepia(100%);
	}
}

.thumbGutter {
	width: 2%;
}
.thumbSizer {
	&.col3 {
		width: 32%;
	}
	&.col4 {
		width: 23.5%;
	}
}
