body {
	padding: 0;
	margin: 20px;
	font-family: 'Roboto', sans-serif;;
}

#container {
	width: 1200px;
	margin: 0 auto;
	// background: pink;
	// height: 100vh;
}

form {
	div {
		padding-bottom: 8px;
	}
	label {
		display: inline-block;
		width: 260px;
	}
	input {
		margin-bottom: 10px;
		// width: 260px;
	}
	input[type='text'] {
		width: 260px;
	}
	textarea {
		width: 260px;
		height: 100px;
		resize: none;
	}
}
button {
	font-family: 'Roboto', sans-serif;;
	height: 30px;
	width: 150px;
	margin-right: 20px;
	margin-top: 10px;
	border-radius: 3px;
}

#popup {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.3);
	z-index: 1;
	#popupBox {
		text-align: center;
		padding: 30px;
		position: fixed;
		top: 50%;
		left: 50%;
		width: 360px;
		transform: translate(-50%, -50%);
		background: white;
		border-radius: 3px;
		box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	}
}

#thumbs {
	width: 100%;
	// background: lightgrey;
	padding-left: 0;
}
#unusedThumbs {
	border-top: 2px solid lightgrey;
	margin-top: 80px;
	padding-top: 80px;
	width: 100%;
	// background: lightgrey;
	padding-left: 0;
}

.thumb {
	display: inline-block;
	user-select: none;
	box-sizing: border-box;
	margin: 0;
	// background: orange;
	float: left;
	font-size: 0;
	// height: auto;
	position: relative;
	&.col3 {
		width: 32%;
	}
	&.col4 {
		width: 23.5%;
	}
	img {
		width: 100%;
	}
	.positionLabel {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		background: white;
		span {
			display: inline-block;
			width: 100%;
			text-align: center;
			margin-top: 8px;
			color: black;
			font-size: 14px;
			white-space: nowrap;
		}
	}
	.toggleBtn {
		width: 30px;
		height: 30px;
		position: absolute;
		bottom: 10px;
		right: 10px;
		background-image: url('../img/Cross_red.svg');
		background-size: cover;
	}
	&.removed {
		filter: sepia(100%);
		.toggleBtn {
			filter: none;
		}
	}
}

.thumbGutter {
	width: 2%;
}
.thumbSizer {
	&.col3 {
		width: 32%;
	}
	&.col4 {
		width: 23.5%;
	}
}
