body {
	margin: 0;
	padding: 0;
}

#thumbs {
	max-width: 1200px;
	// background: lightgrey;
	padding: 0;
}

.thumb {
	display: inline-block;
	user-select: none;
	box-sizing: border-box;
	margin: 0;
	// background: orange;
	float: left;
	font-size: 0;
	// height: auto;
	position: relative;
	animation: reveal 0.5s forwards;
	opacity: 0;
	&.col3 {
		width: 32%;
	}
	&.col4 {
		width: 23.5%;
	}
	img {
		width: 100%;
	}
}

@keyframes reveal {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.thumbGutter {
	width: 2%;
}
.thumbSizer {
	&.col3 {
		width: 32%;
	}
	&.col4 {
		width: 23.5%;
	}
}

#footer {
	background: grey;
	width: 100%;
}