$maxContainerWidth: 1366px;
$fontColor: #555;

body {
	font-family: 'Rubik', sans-serif;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	// background: rgba(255,150,150,0.2);
	color: $fontColor;
}

h1 {
	font-family: 'Yrsa', serif;
	text-transform: uppercase;
	font-size: 1.4em;
	// letter-spacing: -0.05em;
	font-weight: normal;
	margin: 0;
	margin-top: -4px;
}

.container {
	max-width: $maxContainerWidth;
	height: 100vh;
	// background: rgba(255,150,0,0.2);
	margin: 0 auto;
	padding: 0;
	display: flex;
	align-items: stretch;
	box-sizing: border-box;
	overflow: hidden;
}

.notShown {
	display: none;
}

i {
	// font-size: 1.2em;
}

nav {
	// background: rgba(255,150,150,0.5);
	position: relative;
	// border-bottom: 1px solid grey;
	ul {
		margin-top: 40px;
		padding: 0;
		li {
			list-style-type: none;
			margin-top: 5px;
		}
	}
	.menuLink {
		cursor: pointer;
		color: $fontColor;
		font-size: 0.8em;
		text-transform: uppercase;
		text-decoration: none;
	}
	.contactIcons {
		position: absolute;
		bottom: -2px;
		left: 0;
		i {
			margin-right: 4px;
		}
	}
	.navWidget {
		position: absolute;
		bottom: 0;
		right: 0;
		text-transform: uppercase;
		font-size: 0.8em;
		i {
			cursor: pointer;
			margin-right: 4px;
			&.fa-angle-right {
				margin-left: 4px;
			}
			&.toggleGrid {
				margin-left: 4px;
			}
		}
	}
}
#mainDiv {
	flex-basis: 70%;
	position: relative;
	height: 95vh;
	margin-bottom: 5vh;
	padding: 0 16px;
	// background: rgba(150,150,255,0.5);
}
.rightPane {
	position: relative;
	// background: rgba(150,255,150,0.5);
}
// .simplebar-vertical {
// 	bottom: 5vh;
// }

//	Responsive sizing
@media (min-width: 1366px) {		//	Full size
	body { 
		// background: rgba(255,255,255,1); 
	}
	.container { 
		padding: 5vh 0 0 0; 
		flex-direction: row;
	}
	nav {
		margin-bottom: 5vh;
		// height: 90vh !important;
		flex-basis: 15%;
	}
	#mainPane { 
		height: 90vh;
		flex-basis: 70%;
		// background: rgba(100,255,150,0.3);
	}
	#fullImg {
		// background: rgba(100,255,150,0.3);
		// padding-bottom: 5vh;
		text-align: center;
		height: 90vh;
		img {
			display: inline-block;
			max-height: 100%;
			max-width: 100%;
		}
		.fullNav {
			height: 100%;
			position: absolute;
			width: 50%;
			top: 0;
			z-index: 1;
			&.left {
				// background: rgba(255,100,100,0.2);
				left: 0;
				cursor: url('../img/left_arrow.svg'), auto ;
			}
			&.right {
				// background: rgba(100,255,100,0.2);
				right: 0;
				cursor: url('../img/right_arrow.svg'), auto ;
			}
		}
	}
	.ps__rail-y {
		margin-bottom: 5vh;
	}
	.rightPane { 
		flex-basis: 15%; 
	}
}
// @media (min-width: 768px) and (max-width: 1365px) {}
@media (min-width: 0px) and (max-width: 767px) {			//	Replace 0px with 321px
	body { 
		background: rgba(255,195,195,1); 
	}
	.container { 
		margin-top: 0px;
		flex-direction: column;
	}
	nav { 
	}
	.thumbDiv { 
	}
	.rightPane { 
	}
}
// @media (max-width: 320px) {}

.mainDivContent {
	margin: 0;
	padding: 0;	
}

#thumbs {
	margin-bottom: 5vh;
	// background: rgba(255,80,80,0.3);
}
#fullImg {
	// background: rgba(80,255,80,0.3);
}
#covers {
	background: rgba(80,255,80,0.3);
}


.thumb {
	display: inline-block;
	user-select: none;
	box-sizing: border-box;
	margin: 0;
	// background: orange;
	float: left;
	font-size: 0;
	// height: auto;
	position: relative;
	animation: reveal 1s forwards;
	opacity: 0;
	cursor: pointer;
	img {
		width: 100%;
	}
}

@keyframes reveal {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.thumbGutter {
	width: 2%;
}
.thumbSizer, .thumb {
	&.col3 {
		width: 32%;
	}
	&.col4 {
		width: 23.5%;
	}
	&.col5 {
		width: 18.4%;
	}
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

