<% include ./partials/header %>

<h1><%= JSON.parse(galleryXml).document.gallery[0].$.displayname %></h1>

<ul id="thumbs">
	<div class="thumbSizer"></div>
	<div class="thumbGutter"></div>
</ul>


<% include ./partials/footer %>
