<% include ./partials/header %>

<div class="container">

	<nav>
		<h1>Laura Kate Bemrose<br>Photography</h1>
	</nav>

	<div class="thumbDiv">
		<ul id="thumbs">
			<div class="thumbSizer"></div>
			<div class="thumbGutter"></div>
		</ul>
	</div>

	<div class="gutter"></div>

</div>

<% include ./partials/footer %>
