<% include ./partials/header %>

<div class="container">

	<% include ./partials/navpane %>

	<div class="thumbDiv">
		<ul id="thumbs">
			<div class="thumbSizer"></div>
			<div class="thumbGutter"></div>
		</ul>
	</div>

	<div class="gutter"></div>

</div>

<% include ./partials/footer %>
