<% include ./partials/header %>

	<nav class="pane">
		<span class="menuLink" data-type="gallery" data-gal="home"><h1>Laura Kate Bemrose<br>Photography</h1></span>
		<ul>
			<!-- links from nav.xml go here -->
		</ul>
		<div class="contactIcons">
			<i class="fab fa-fw fa-instagram instagramLink"></i>
			<i class="far fa-fw fa-envelope emailLink"></i>
		</div>
		<div class="navWidget notShown">
			<div class="gridNav">
				<span class="no-total"></span> images 
				<i class="fas fa-fw fa-th toggleGrid"></i>
			</div>
			<div class="fullNav">
				<i class="fas fa-angle-left prevBtn"></i>
				<span class="no-current"></span> of <span class="no-total"></span>
				<i class="fas fa-angle-right nextBtn"></i>
				<i class="fas fa-fw fa-square toggleFull"></i>
			</div>
		</div>
	</nav>

	<div id="mainPane" class="pane">
		<div id="mainDiv" data-simplebar>

			<ul id="thumbs" class="mainDivContent">
				<div class="thumbSizer"></div>
				<div class="thumbGutter"></div>
			</ul>

			<div id="fullImg" class="mainDivContent">
				<img src="">
				<div class="fullNav left"></div>
				<div class="fullNav right"></div>
			</div>

			<div id="covers" class="mainDivContent">
				<div class="thumbSizer"></div>
				<div class="thumbGutter"></div>
			</div>

			<div id="contact" class="mainDivContent">
				<% include ./partials/contact %>
			</div>

			<div id="about" class="mainDivContent">
				<% include ./partials/about %>
			</div>

		</div>
<!-- 	</div> -->

	<div class="pane rightPane">

	</div>

	<script type="text/javascript">
		$('.fullNav').hide();
	</script>

<% include ./partials/footer %>
