<!DOCTYPE html>
<html>
<head>
	<title>LKB Photography</title>
</head>
<body>



<div class="container">
	<nav class="pane" data-simplebar>
	</nav>

	<div class="pane thumbDiv" data-simplebar>
		<div id="mainDiv">
			<ul id="thumbs" class="mainPane">
				<div class="thumbSizer"></div>
				<div class="thumbGutter"></div>
			</ul>
			<div id="fullImg" class="mainPane" hidden>
				<img src="">
				<div class="fullNav left"></div>
				<div class="fullNav right"></div>
			</div>
			<div id="covers" class="mainPane" hidden>
				<div class="thumbSizer"></div>
				<div class="thumbGutter"></div>
			</div>
		</div>
	</div>

	<div class="pane rightPane">

	</div>

</div>

<!-- <div class="footer">Contact info and whatnot</div> -->


</body>
</html>